<!-- {% load static from staticfiles %}

{% block content %}
<head>
<style>
body {background-image: url("{% static 'vet8.jpg'%}");
     background-size:     cover;                     /* <------ */
     background-repeat:   no-repeat;
     background-position: center center;}
h2   {text-align: center;}

</style>
</head>
        <h2> YOU HAVE BEEN LOGGED OUT!!</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
            	<h2>
                 <a class="ml-2" href="{% url 'login' %}">Log in Again</a>
                </h2> 
            </small>
        </div>
{% endblock content %}
 -->